:root {
  --width-container: 1376px;

  --font-family: "Onest", sans-serif;

  --color-body: #f5f5f5;

  --color-primary: #151616;
  --color-secondary: #424546;
  --color-tertiary: #fff;

  --color-link: #151616;
  --color-link-hover: #37E6E9;

  --color-btn-bg: #0bb6b9;
  --color-btn-hover-bg: #424546;
  --color-btn-text: #fff;
  --color-btn-hover-text: #89F7F9;
  --color-btn-icon: #fff;
  --color-btn-hover-icon: #89F7F9;

  --color-text-btn-bg: transparent;
  --color-text-btn-hover-bg: transparent;
  --color-text-btn-text: #151616;
  --color-text-btn-hover-text: #37E6E9;
  --color-text-btn-icon: #0BB6B9;
  --color-text-btn-hover-icon: #37E6E9;
}

@media (max-width: 1439px) {
  :root {
    --width-container: 1148px;
  }
}

@media (max-width: 1199px) {
  :root {
    --width-container: 100%;
  }
}